@model List<Tutorial>

<h2>All tutorials on Backend web development</h2>

<div class="row">

    @for (int i = 0; i < Model.Count; i++)
    {
        <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">


                    <h5 class="card-title">@Model[i].Title - @Model[i].Type</h5>
                    <p class="card-text"><small class="text-body-secondary">Published on
                            @Model[i].Published.ToString("MMM d, yyyy")</small></p>
                    <p class="card-text">@Model[i].Description</p>
                    <a href="#" class="btn btn-primary">Learn more about @Model[i].Title</a>
                    <p class="card-text"><small class="text-body-secondary float-end">Written by @Model[i].Author</small>
                    </p>
                </div>
            </div>
        </div>
    }
</div>